$bg-dark-1: #000000;
$bg-dark-2: #202020;
$bg-dark-rgba-1: rgba(0, 0, 0, 0.2);
$bg-dark-rgba-2: rgba(255, 255, 255, 0.1);
$bg-light-1: #ffffff;
$bg-gray-1: #E5E5E5;
$bg-gray-2: #d4d4d4;
$bg-transparent-rgba: rgba(0, 0, 0, 0.6);
$bg-blue-1: #0C9AAE;
$bg-blue-2: #147CBC;
$bg-blue-3: #0C9AAE;
$bg-blue-4: #147CBC;
$bg-red-1: #8F2932;
$bg-red-2: #B2391F;
$bg-red-3: #DC3545;