.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 0;
  background-color: #ffffff;
}

li {
  z-index: 0;
}

.page-link {
  color: #0C9AAE;
}
.page-link:hover {
  background-color: #147CBC;
  color: #ffffff;
}
.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination-current-page .page-link:hover {
  background-color: #ffffff;
  color: #0C9AAE;
  cursor: inherit;
}

.sr-only {
  display: none;
}